{% extends 'base.html.twig' %}

{% block title %}Hello SongController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 0.5em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; align-items: center ; justify-content: center; display: flex; flex-direction: column; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    </style>

    <div class="example-wrapper" >

        {{ form(form) }}


        {% if tracks is defined and tracks is not empty and tracks is not null %}
            {% for track in tracks %}
                <div class="example-wrapper box">
                    <img width="100dp" height="100dp" src="{{ track.pictureLink }}" alt="{{ track.albumname }}">
                    <h2>{{ track.name }}</h2>
                    <p>{{ track.artistname }}</p>
                    <p>{{ track.albumname }}</p>
                </div>
            {% endfor %}
            {% else %}
            <h2>No track found</h2>
        {% endif %}




    </div>
{% endblock %}
